build/
dist/

# Ignore build artifacts
*.o
*.obj
*.exe
*.dll
*.so
*.a
*.lib

# Conan
conan_data/
conaninfo.txt
conanbuildinfo.*
conan.lock
graph_info.json

# CMake
CMakeUserPresets.json
